streamlit
google-genai
python-dotenv

newspaper4k
playwright
feedparser

langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma

chromadb
sentence-transformers

lxml_html_clean
nltk
